---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";
const identity = {
    firstName: "Stas",
    lastName:"Kalinowski",
    city:"Surrey",
    province:"BC",
    country:"Canada",
    hobbies:["Reading", "Programming", "Running"],
}
---
<BaseLayout pageTitle={pageTitle}>
    <div class="Box" style={{'background-color':'#16AA98', marginBottom:'8px'}}>
        <h2 style={{marginTop:'0px'}}>This blog</h2>
        <li>Learning to improve my writing.</li>
        <li>A little place to document any small things I learnings.</li>
        <li>Putting myself out there. lol</li>
        <p>Things I plan to blog about:</p>
        <p> Programming, Personal Projects, Esports, and Books I've been reading.</p>
    </div>
    <div class="Box" style={{'background-color':'#EA4C4C'}}>
        <h2 style={{marginTop:'0px'}}>Myself</h2>
        <p>My name is {identity.firstName} {identity.lastName}. 
            I live in {identity.city}, {identity.province}, {identity.country} and am currently looking for work.
            Learning to take things step by step. I enjoy reading, playing games, and just making sense of things.
            I've learned that building this is hard and I over think things a lot!
            I am personally interested in the future of tools & technology, currently looking into the idea of neural games.
        </p>
    </div>

    <hr/>
    <p>Feel free to reach out to me on twitter or through my email!</p>
    <p>Email: kalinowski.stas@gmail.com</p>
</BaseLayout>